footer
	.pad
		.licence Except where otherwise noted, content on this wiki is licensed under the following license:
		.buttons
			a(href='https://validator.w3.org/check?uri=' + baseurl title='Valid HTML5') Valid HTML5
			a(href='https://jigsaw.w3.org/css-validator/validator?uri=' + baseurl + '&profile=css3' title='Valid CSS') Valid CSS