head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="generator" content="OpenNote")

    title #{pagename} [#{title}]
    link(rel="stylesheet" type="text/css" href="css/reset.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")

    // SEO
    //meta(name="robots" content=robots)
    meta(name="keywords" content=keywords)
    //link(rel="search" type="application/opensearchdescription+xml" href="/lib/exe/opensearch.php" title="JallerWiki")
    if baseurl != ''
        link(rel="start" href=baseurl)
    else
        link(rel="start" href="/")

    // Favicons & App Settings
    link(rel="apple-touch-icon" sizes="180x180" href="theme/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="theme/favicons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="theme/favicons/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="theme/favicons/manifest.json")
    link(rel="mask-icon" href="theme/favicons/safari-pinned-tab.svg" color="#a799b8")
    link(rel="shortcut icon" href="theme/favicons/favicon.ico")
    meta(name="msapplication-config" content="theme/favicons/browserconfig.xml")
    meta(name="theme-color" content="#a799b8")

    //JavaScript
    script(type="text/javascript" src="libs/jquery-3.2.1.min.js" async)
    // Shared assets
    script(type="text/javascript" src="shared/opennote.js" async)
    script(type="text/javascript" src="shared/syntax.js" async)
    // Client assets
    script(type="text/javascript" src="js/config.js" async)
    script(type="text/javascript" src="js/interface-bindings.js" async)
    script(type="text/javascript" src="js/pagestorage.js" async)
    script(type="text/javascript" src="js/script.js" async)
