doctype html
html(lang= lang)
	include head.pug
	body
		header
			h1
				a(accesskey="h" title="[H]" href="/") #{title}
			nav#pagelinks
				a(id="nav_view" accesskey="v" rel="nofollow" title="Show page [V]" href="?") View
				a(id="nav_edit" accesskey="e" rel="nofollow" title="Edit page [E]" href="?do=edit") Edit
				a(id="nav_revisions" accesskey="o" rel="nofollow" title="Old revisions [O]" href="?do=revisions") Revisions
			nav#sitelinks
				a(id="nav_index" accesskey="x" rel="nofollow" title="Sitemap [X]" href="?do=index") Sitemap
			if (youarehere || breadcrumbs) == 1
				.breadcrumbs
					if youarehere == 1
						nav.youarehere
							span.bchead You are here:
							each pathpart in pagenamespaces
								bdi
									a(href=pathpart.href) #{pathpart.name}
								span »
							bdi
								a(href="?") #{pagename}
					if breadcrumbs == 1
						nav.trace
		.wrapper.group
			.pad.group
				if error
					.error= error
				.pageId
					span #{pagename}
				main#page_wrapper.page.group !{context.html}
				.docInfo
		include footer.pug
