<form method="POST" action="?">
	<textarea name="wikitext" rows="30" cols="80" tabindex="1"></textarea>
	<div class="editbar">
		<input type="submit" accesskey="s" value="Save" tabindex="4"/>
		<input type="submit" accesskey="p" name="preview" value="Preview" tabindex="5"/>
		<input type="submit" name="cancel" value="Cancel" tabindex="6"/>
		<input type="text" name="summary" placeholder="Edit summary" tabindex="2"/>
		<select name="syntax" tabindex="7">
			<option value="dokuwiki">DokuWiki</option>
			<option value="markdown">Markdown</option>
		</select>
	</div>
</form>
