html {
	overflow-x: auto;
	overflow-y: scroll;
}

html, body {
	color: #333;
	background: #fbfaf9;
}

body {
	font-family: Arial, sans-serif;
}

header {
	width: 100%;
	color: white;
	background-color: black;
	padding: 0.2rem 0 0.4rem 0;
	margin-bottom: 1.5rem;
}

header>* {
	margin: 0 1rem;
}

.content_wrap {
	border: gray 1px solid;
}

header h1 {
	font-size: 2em;
}

header h1 a {
	color: #a799b8 !important;
}

header nav a {
	text-transform: lowercase;
}

header nav a:before {
	content: "[ ";
}

header nav a:after {
	content: " ]";
}

header nav#sitelinks {
	float: right;
}

header a {
	color: #b8b1c0;
	text-decoration: none !important;
}

header a:hover {
	color: #fff;
	text-decoration: underline;
}

.breadcrumbs {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	font-size: .875em;
	clear: both;
}

.breadcrumbs>* {
	padding: .2rem .35rem;
}

.wrapper {
	padding-right: 2rem;
	padding-left: 2rem;
	margin-bottom: 1.4rem;
}

.group {
	display: block;
}

/* Messages */
div.error {
	background-color: #fcc;
	background-image: url(/lib/styles/../images/error.png);
	border-color: #ebb;
}

div.error, div.info, div.success, div.notify {
	color: #000;
	background-repeat: no-repeat;
	background-position: 8px 50%;
	border: 1px solid;
	font-size: 90%;
	margin: 0 0 .5em;
	padding: .4em;
	padding-left: 32px;
	overflow: hidden;
	border-radius: 5px;
}

.pageId {
	float: right;
	margin-right: -1em;
	margin-bottom: -1px;
	margin-top: -1.5em;
	overflow: hidden;
	padding: .5em 1em 0;
}

.pageId span {
	font-size: .875em;
	border: solid #eee;
	border-width: 1px 1px 0;
	background-color: #fff;
	color: #999;
	padding: .1em .35em;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 0 .5em #999;
	display: block;
}

.page {
	clear: both;
	background: #fff;
	color: inherit;
	border: 1px solid #eee;
	box-shadow: 0 0 .5rem #999;
	border-radius: 2px;
	padding: 1.556em 2em 2em;
	margin-bottom: .5em;
	overflow: hidden;
	word-wrap: normal;
}

@media screen and (max-width: 640px){
	.wrapper {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}


	.page {
		padding: 0.556em 0.5em 0.5em;
	}
}

.docInfo {
	font-size: .875em;
	text-align: right;
}

footer {
	margin-bottom: 1em;
	text-align: center;
}

footer > .pad {
	font-size: .875em;
}

footer div.licence {
	margin-bottom: .5em;
}

a:link,a:visited {
	text-decoration: none;
}

footer div.buttons a {
	border: 1px gray solid;
	font-size: .75em;
	padding: .1rem;
	margin-left: .1rem;
}

/* Page Syntax */
.page em {
	font-style: italic;
}

.page em.u {
	font-style: normal;
	text-decoration: underline;
}

.page sup {
	vertical-align: super;
}

.page sub {
	vertical-align: sub;
}

.page strong {
	font-weight: bold;
}

.page h1 {
	font-size: 2em;
	margin: 0 0 .444em;
}

.page h2 {
	font-size: 1.5em;
	margin: 0 0 .666em;
}

.page h3 {
	font-size: 1.125em;
	margin: 0 0 .888em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	padding: 0;
	line-height: 1.2;
	clear: left;
}

.page blockquote {
	padding: 0 .5em;
	border: solid #ccc;
	border-width: 0 0 0 .25em;
}

.page pre {
	overflow: auto;
	word-wrap: normal;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: inset 0 0 .5em #ccc;
	padding: .7em 1em;
}

.page ul {
	list-style: square outside;
}

.page ol {
	list-style: decimal outside;
}

.page ul, ol {
	padding: 0 0 0 1.5em;
}

/* editor */
.page textarea {
	width: 100%;
}
